@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    @apply bg-white text-gray-800;
    
  }
}

@layer utilities {
  .animate-gradient-text {
    background: linear-gradient(45deg, theme('colors.gray.800'), theme('colors.gray.800'));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 5s ease infinite;
  }

  .animate-pulse-soft {
    animation: pulse-soft 2s ease-in-out infinite;
  }
}

@keyframes gradient-animation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes pulse-soft {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}